<launch>
    <arg name="robot_name" value="$(env robot_name)"/>
    <arg name="test_mode" default="false"/> 
    <arg name="acc_on" default="false"/>
    <arg name="publish_mask" default="false"/>
    
    <group ns="$(arg robot_name)">
        <!-- Pass the robot_name argument to the included launch files -->

        <include file="$(find vpa_robot_vision)/launch/robot_vision.launch">
            <arg name="robot_name"  value="$(arg robot_name)" />
            <arg name="test_mode"   value="$(arg test_mode)"/> 
        </include>

        <include file="$(find vpa_robot_decision)/launch/robot_decision.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <include file="$(find vpa_robot_interface)/launch/vpa_traction_start.launch"/>
       
        <include file="$(find vpa_robot_task)/launch/robot_task.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <node name="republish_result" pkg="image_transport" type="republish" args="raw in:=result_image compressed out:=result_image" />
    </group>  
</launch>
