<launch>
    <arg name="robot_name"          value="$(env robot_name)"/>
    <arg name="test_mode"           default="default"/> 
    <arg name="acc_on"              default="true"/>
    <arg name="auto_request_task"   default="true"/>
    
    <group ns="$(arg robot_name)">
        <group if="$(arg acc_on)"> 
            <include file="$(find vpa_robot_interface)/launch/vpa_tof.launch"/>
        </group>
        
        <include file="$(find vpa_robot_interface)/launch/vpa_traction_start.launch"/>

        <include file="$(find vpa_robot)/launch/robot_vision.launch">
            <arg name="robot_name"          value="$(arg robot_name)" />
            <arg name="test_mode"           value="$(arg test_mode)"/> 
            <arg name="acc_on"              value="$(arg acc_on)"/> 
            <arg name="auto_request_task"   value="$(arg auto_request_task)"/>
        </include>

        <include file="$(find vpa_robot)/launch/robot_decision.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

       
        <include file="$(find vpa_robot)/launch/robot_task.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>


        <node name="republish_result" pkg="image_transport" type="republish" args="raw in:=result_image compressed out:=result_image" />
    </group>  
</launch>
